.c-text {
    h5 {
        font-weight: 700;
        margin-bottom: 8px;
    }

    h1 {
        font-family: 'Rama Gothic E', sans-serif;
        font-weight: 700;
        font-size: 64px;
        letter-spacing: -0.01em;
        line-height: 0.9;
        margin-bottom: 32px;
        text-transform: uppercase;

        @media (min-height: 900px) {
            font-size: 68px;
        }
    }

    &__body {
        margin-bottom: 32px;
    }

    &__price {
        font-size: 36px;
        font-weight: bold;
    }

    &__priceUnit {
        font-size: 18px;
    }

    &__button {
        margin-bottom: 32px;
    }

    &__legal {
        font-size: 12px;
        margin: 0;
    }
}