@charset 'utf-8';

@font-face {
    font-family: 'Rama Gothic E';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/rama-gothic-e-bold.woff') format('woff'),
         url('/assets/fonts/rama-gothic-e-bold.woff2') format('woff2');
}

$color: #F24;

* {
    box-sizing: border-box;
}

body {
    background: #000 url('/assets/img/bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    color: $color;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0;

    @media (min-height: 900px) {
        font-size: 18px;
    }
}

b {
    font-weight: 700;
}

img {
    display: block;
}

p {
    margin: 0 0 1em 0;
    line-height: 1.25;
}

@import 'app';
@import 'button';
@import 'instructions';
@import 'pi';
@import 'tabs';
@import 'text';
@import 'window';

/**
 * Enforce portrait mode
 */

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    body {
        left: 0;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
    }
}